
/Pixills.Messaging.Prototype
/Pixills.Net.Goofy/Pixills.Net.Goofy.CommandLine/bin/Debug
/Pixills.Net.Goofy/Pixills.Net.Goofy.CommandLine/obj
/Pixills.Net.Http/obj
/Pixills.Net.Http/bin
/Pixills.Net.Goofy/Pixills.Net.Goofy.SocksProxyModule/obj
/Pixills.Net.Goofy/Pixills.Net.Goofy.SocksProxyModule/bin
/Pixills.Net.Goofy/Pixills.Net.Goofy.Modules/obj
/Pixills.Net.Goofy/Pixills.Net.Goofy.Modules/bin
/Pixills.Net.Goofy/Pixills.Net.Goofy.HttpCommandModule/obj
/Pixills.Net.Goofy/Pixills.Net.Goofy.HttpCommandModule/bin
/Pixills.Net.Goofy/Pixills.Net.Goofy.HttpProxyModule/obj
/Pixills.Net.Goofy/Pixills.Net.Goofy.HttpProxyModule/bin
/Pixills.Net.Goofy/Pixills.Net.Goofy/obj
/Pixills.Net.Goofy/Pixills.Net.Goofy/bin
/Pixills.Net.Goofy/Pixills.Net.Goofy.HttpServerModule/obj
/Pixills.Net.Goofy/Pixills.Net.Goofy.HttpServerModule/bin
/Pixills.Net.Goofy/Pixills.Net.Goofy.CommandLine/Pixills.Net.Goofy.CommandLine.csproj.user
/Pixills.Net.ncrunchsolution
/Pixills.Net.ncrunchsolution.user
/Pixills.Net.sln
/Pixills.Net.suo
_ReSharper.Goofy
/Goofy/Goofy.csproj
/Goofy/Goofy.ncrunchsolution
/Goofy/Goofy.ncrunchsolution.user
/Goofy/Goofy.sln
/Goofy/Goofy.suo
/Goofy/bin/Debug/Goofy.vshost.exe
/Goofy/bin/Debug/Goofy.vshost.exe.manifest
/Goofy/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache

/Pixills.Net.Http/Framework
*.pdb
*.pdb
*.pdb
*.pdb
*.pdb
*.pdb
*.pdb
*.pdb
*.suo

Libraries
